@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Управление пользователями</h1>
    <p class="lead">Web-приложение позволяет управлять зарегистрированными пользователями</p>
    <p>
       <a href="/Account/Login" class="btn btn-primary btn-lg">Выполнить вход</a> 
       <a href="/Users" class="btn btn-warning btn-lg">Управление пользователями</a> 
    </p>
</div>